<nav class="navbar navbar-expand-md navbar-dark bg-primary mb-4">
    <div class="container">
        
        <div class="d-flex align-items-center">
            <button type="button" class="btn btn-warning me-3" >
                Update IPOs
            </button>
            <button type="button" class="btn btn-warning me-3">
              Manage Company
            </button>
            <button type="button" class="btn btn-warning me-3">
                Manage Exchange
              </button>
              <button type="button" class="btn btn-warning me-3">
                Import Data
              </button>
              <button type="button" class="btn btn-warning me-3">
                Admin-Dashboard
              </button>
              <button type="button" class="btn btn-warning me-3">
                Logout
              </button>
          </div>

    </div>
</nav>
