<div class="image"><nav class="navbar navbar-expand-md navbar-dark bg-primary mb-4">
<div class="container" >
    
    
    <div class="row" style="background-image: url('~assets/stockk.jpg')"> 
      <div class="col-sm">
        <button type="button" class="btn btn-warning me-3" on-click='Login()'>
         Login
          </button>
      </div>
      <div class="col-sm">
        <button type="button" class="btn btn-warning me-3" on-click='Signup()'>
            Signup
          </button>
      </div>
      
    </div>
  </div>
</nav>
  <div>
    <router-outlet></router-outlet>
  </div>
  </div>