<nav class="navbar navbar-expand-md navbar-dark bg-primary mb-4">
    <div class="container">
        
        <div class="d-flex align-items-center">
            <button type="button" class="btn btn-warning me-3" >
                IPOs
            </button>
            <button type="button" class="btn btn-warning me-3">
              Compare Company
            </button>
            <button type="button" class="btn btn-warning me-3">
                Compare Sector
              </button>
              <button type="button" class="btn btn-warning me-3">
                User-Dashboard
              </button>
              <button type="button" class="btn btn-warning me-3">
                Logout
              </button>
          </div>

    </div>
</nav>

